<a class="btn btn-primary" [routerLink]="['/new-contact']">Add</a>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.phoneNumber }}</td>
      <a [routerLink]="['/edit-contact', contact.id]">Edit</a>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedContact">
  <input type="text" [(ngModel)]="selectedContact.firstName" />
  <input type="text" [(ngModel)]="selectedContact.lastName" />
  <input type="text" [(ngModel)]="selectedContact.phoneNumber" />
  <button (click)="updateContact()">Save Changes</button>
</div>
